[submodule "themes/zola.386"]
	path = themes/zola.386
	url = https://github.com/lopes/zola.386.git
[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/getzola/after-dark
[submodule "themes/adidoks"]
	path = themes/adidoks
	url = https://github.com/aaranxu/adidoks.git
